
header{
   position: fixed; 
   top: 0em;
   left: 0em;
   width: 100%;
   overflow: hidden;
   background: white;
   outline: none;
}
.wrapper{
    padding-left: 3em;
    overflow: hidden;
}
header .logo{
    color: #2c3e50; 
    font-size: 35px;
    line-height: 75px;
    float: left;
    font-family: sans-serif;
}
header nav{
    float: left;
    margin-left: 1em;
    line-height: 75px;
    outline: none;
}
header nav a{
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 10px;  
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
header nav a:hover{
    background: #2c3e50;
    color: white;
}