<div class="lateral">
    <div class='iconos'>
    <p class="subtitulo">Siguenos en nuestras redes sociales!</p>
  </div>
  <div class='iconos'>
      <a href="#" class="fa fa-facebook" ></a>
  </div>
  <div class='iconos'>
      <a href="#" class="fa fa-twitter"></a>
  </div> 
  <div class='iconos'>
      <a href="#" class="fa fa-instagram"></a>
  </div> 
  <div class='iconos'>
      <a href="#" class="fa fa-youtube"></a>
  </div> 
  
    </div>
<h1 id="tituloLetra">Titulo<p>(Agregale un titulo a tu Imagen.)</p></h1>
  <div id="titulo"  contenteditable="true" >
  </div>
  
  
  
<button id="publicar">Publica tu noticia!</button>
  
