<div class="lateral">
  <h1 routerLink="/home" routerLinkActive="active" class="titulo">Home</h1>
  <canvas id="rectangulo"></canvas>
  <div id="subdiv">
    <!-->
  <canvas id="estadistica1"></canvas>
  <canvas id="estadistica2"></canvas>
  <!-->
</div>
</div>
<div class="noticia" *ngFor="let noticia of noticias">
  <h1>Trump bombardea Mexico</h1>
<p>El mandatario de los estados unidos bombardea Mexico despues de una disputa a cerca del famoso muro anti-inmigrantes.</p>
<img src="https://firebasestorage.googleapis.com/v0/b/angular-fs-d045f.appspot.com/o/test%2F1524488335543_trump.jpg?alt=media&token=95a46dea-
edf5-4f6f-bfa5-bd0337fe80c5" id="imagen"> 
<button class="display" id="real" (click)="showspan2()">Truth</button>
<button class="display"id="falso"(click)="showspan()">Fake</button>
<button id="leer">Leer noticia completa</button>
<p id="datos">2000 fake <strong>·</strong> 1478 truth</p>
<div id="otrosubdiv">
<span id="resultado" class="resultado" [@enter]="es" *ngIf="estado">Esta noticia es falsa</span>
</div>
</div>
