<div class ="contenido">
  <h1>
     Trump bombardea Mexico
      </h1>
      <img src ="https://i.imgflip.com/1lydvo.jpg">
      
<hr />

      <div class ="Descripcion">        
      <p>President Donald Trump kickstarted his weekend by launching a blistering Twitter attack on Sen. Jon Tester (D-Mont.).
      </p>
      <p>
          The Senate Veterans’ Affairs Committee, of which Tester is the ranking Democrat, was probing allegations that White House physician Ronny Jackson had created “a hostile work environment,” which included the improper dispensation of medications and “excessive drinking on the job.”
      </p>
      </div>

<div class ="Pie">
  <h2>Como te parecio la Noticia?</h2>
  <div class="Botones">
  
  <button id="_btnVerdad" onclick="Show">Verdadero</button>  
   <button id="_btnFalso" onclick="Show">Falso</button>

  </div>
  
</div>    

<div class="Votos">
<h3 id="gente">La gente voto:</h3>
  <label id="Verdad">Verdaderos: <!--{{Recibir votos verdaderos}}--></label>
  <label id="Falso" >Falso:</label>
  
  
</div>        
      
  </div>

  <div class="lateral">
      <div class='iconos'>
      <p class="subtitulo">Siguenos en nuestras redes sociales!</p>
    </div>
    <div class='iconos'>
        <a href="#" class="fa fa-facebook" ></a>
    </div>
    <div class='iconos'>
        <a href="#" class="fa fa-twitter"></a>
    </div> 
    <div class='iconos'>
        <a href="#" class="fa fa-instagram"></a>
    </div> 
    <div class='iconos'>
        <a href="#" class="fa fa-youtube"></a>
    </div> 
    
      </div>
    