<header>
    <div class="wrapper">
    <div class="logo">Fake or Not</div>
      
        <nav>
     <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
     <li><a>Images</a></li>
     <li><a>Videos</a></li>
     <li><a routerLink="/login" routerLinkActive="active">Account</a> </li>
     <li><a id="up">Upload</a> 
       
            <nav class="sub">
                <li><a routerLink="/sub-imagen" routerLinkActive="active">Upload Images</a></li> 
                <li><a>Upload Videos</a></li> 
                <li><a routerLink="/upload" routerLinkActive="active" >Upload News</a> </li>
        
            </nav>
    </li>
        </nav>
        
    </div>
  </header>
  
  
  <router-outlet></router-outlet>
  