header{
    position: fixed; 
    top: 0em;
    left: 0em;
    width: 100%;
    overflow: hidden;
    background: white;
    outline: none;
 }
 .wrapper{
     padding-left: 3em;
     overflow: hidden;
 }
 header .logo{
     color: #2c3e50; 
     font-size: 35px;
     line-height: 75px;
     float: left;
     font-family: sans-serif;
 }
 header nav{
     float: left;
     margin-left: 1em;
     line-height: 75px;
     outline: none;
 }
 header nav a{
     display:block;
     color: #2c3e50;
     text-decoration: none;
     padding: 10px 20px;
     line-height: normal;
     font-size: 20px;
     font-family: sans-serif;
     border-radius: 10px;  
     -webkit-transition-duration: 0.4s; 
     transition-duration: 0.4s;
     margin-top: 15px;
 }
 header nav a:hover{
     background: #2c3e50;
     color: white;
 }
 nav li{
     float: left;
 }
 nav li{
     list-style: none;
 }
 

 nav li nav{
     display: none;
     width: 175px;
     position: fixed;
    background-color:white;
    border-radius:10px;
    border: 1px solid #2c3e50;
    
 }
 nav li:hover> nav{
     display:block;
     -webkit-transition-duration: 0.8s; 
     transition-duration: 0.8s 
    }
 
 li{
     cursor: pointer;
 }  
/*
.sub li a{
    background-color: skyblue;
    border: #2c3e50;
    border: 2px solid #2c3e50;
}
*/


