.lateral{
    width: 15%;
    height: 100%;
    background: white;
    position: fixed;
    top: 75px;
    left: 0em;      
    
        
}

.noticia{
    width: 40%;
    height: auto;
    background: white;
    margin-bottom: 2.5%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 2% 2% 1.5% 2%;
    overflow: hidden;

}
p{
    color:#2c3e50;
    font-family: sans-serif;
    margin-bottom: 2%;
}
h1{
    color:#2c3e50;
    font-family: sans-serif;
    margin-bottom: 2%;
    cursor: pointer;
    outline: none;
}
h1:hover{
    opacity: 0.8;
}
img{
    
        width: 525px;
        height: auto;
        display:block;
        margin-bottom: 2%;
        overflow: hidden;
    
}
button{

    width: 15%;
    height: 2em;
    text-align: center;
    padding: 1%;
    margin-right: 0.5em;
    
}
#real{
    background: white;
    color: #0f9d58; 
    border: 2px solid #0f9d58;
    float: left;
}
#falso{
    background: white;
    color: #e74c3c; 
    border: 2px solid #e74c3c;
    float: left;
    
}
#falso:hover{
    background: #e74c3c;
    color: white;
     
}

#real:hover{
    background: #0f9d58;
    color: white;
}

#datos{

    color: gray;
    font-family: sans-serif;
    float: inherit;
    margin-top: 1em;

    
    
}
#leer{
    
    width: 178px;
    float: right;
    background: white;
    color: #2c3e50;
    border: 2px solid #2c3e50;  
      
    
}
#leer:hover{
    background: #2c3e50;
    color: white;
    
}
.titulo{
    margin-left: 1.5em;
}
#rectangulo{
    width: 90px;
    height: 7px;
    background: #2c3e50;
    margin-left: 3em;
    float: left;
   
}
#estadistica2{
    width: 40px;
    height: 50px;
    background: #e74c3c;
    float: left;
    margin-left: 3em;
}
#estadistica1{
    width: 40px;
    height: 60px;
    background: #0f9d58;
    float: left;
    
}
#subdiv{

    width: 100%;
    height: auto;
    padding: 1.5em;
    margin-left: 2em;
}
.resultado{
    padding: 0.8em;
    float: left;
    background: white;

}
#otrosubdiv{
    font-family: sans-serif;
    width: 100%;
    height: auto;
    padding-top: .5em;
    padding-left: 0em;
    margin-top: 1em;
    margin-left: .1em;
}