.lateral{
    width: 256px;
    height: 100%;
    background: white;
    position: fixed;
    top: 55px;
    left: 0em;  
    margin-top: 5px;
    margin-left: 5px;    
    
        
}
.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    left: 0em; 
    top: 0em;
    overflow-y: scroll;
    

}
.comentarios{
    height: auto;
    width: 520px;
    background: white;
    margin-bottom: 50px;
    left: 32.5%;
    position: absolute;
    top: 55px;
    border-radius: 10px;
    padding: 20px;
    
    
}

.noticia{
    width: 530px;;
    height: auto;
    background: white;
    margin: 5px 5px 5px 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    border-radius: 10px;
   
    

}
#redondo{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-left: 15px;
    border-radius: 50%;
    float: left;
    
}
p{
    color:#2c3e50;
    font-family: sans-serif;
    margin-bottom: 2%;
}
h1{
    color:#2c3e50;
    font-family: sans-serif;
    margin-bottom: 2%;
    cursor: pointer;
    outline: none;
}
h1:hover{
    opacity: 0.8;
}
#imagen{
    
        width: 520px;
        height: auto;
        display:block;
        margin-bottom: 2%;
        overflow: hidden;
        border-radius: 5px;
    
}
#imagenredonda{
    width: auto;
    height: 50px;
    

}
button{

    width: 15%;
    height: 2em;
    text-align: center;
    padding: 1%;
    margin-right: 0.5em;
    
}
#real{
    background: white;
    color: #0f9d58; 
    border: 1px solid #0f9d58;
    float: left;
}
#falso{
    background: white;
    color: #e74c3c; 
    border: 1px solid #e74c3c;
    float: left;
    
}
#falso:hover{
    background: #e74c3c;
    color: white;
     
}

#real:hover{
    background: #0f9d58;
    color: white;
}

#datos{

    color: gray;
    font-family: sans-serif;
    float: inherit;
    margin-top: 1em;

    
    
}
#leer{
    
    width: 178px;
    float: left;
    background: white;
    color: #2c3e50;
    border: 1px solid #2c3e50;  
      
    
}
#leer:hover{
    background: #2c3e50;
    color: white;
    
}
#comentar{
    
    width: 158px;
    float: left;
    background: white;
    color: #2c3e50;
    border: 1px solid #2c3e50;  
      
    
}
#comentar:hover{
    background: #2c3e50;
    color: white;
    
}
input[type=text]{
    height: 2.5em;
    width: 80%;
    border-radius: 50px;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 1px solid #2c3e50;
}
.titulo{
    margin-left: 1.5em;
}
#rectangulo{
    width: 90px;
    height: 7px;
    background: #2c3e50;
    margin-left: 3em;
    float: left;
   
}
.resultado{
    padding: 0.8em;
    float: left;
    background: #e74c3c;

}
#otrosubdiv{
    font-family: sans-serif;
    width: 100%;
    height: auto;
    padding-top: .5em;
    padding-left: 0em;
    margin-top: 1em;
    margin-left: .1em;
}
.salir{
    width: 100%;
    height: 100%;
}
#comentariosUsuarios{
    width: 100%;
    height: auto;
    margin-left: 5px;
    margin-top: 10px;
    padding: 1px;
    display: inline-block;
}
#textoComentario{
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 5px;
    background: #e8e8e8;
    color: black;
    float: left;
    font: .8em sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 5px;
    margin-left: 20px;
}
#nombre{
    color: #2c3e50;
    font: 1.2em sans-serif;
    margin-bottom: 2px;
}
#comentario{

    color: gray;
    font-family: sans-serif;
    float: left;
    margin-top: 1em;
}




