<div class="lateral">
</div>
<div class="noticia">
    <h1>Trump bombardea Mexico</h1>
    <p>El mandatario de los estados unidos bombardea Mexico despues de una disputa a cerca del famoso muro anti-inmigrantes.</p>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/yHn0oQfcRwU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p id="datos">2000 fake <strong>·</strong> 1478 truth</p>
    <button class="display" id="real" (click)="showspan2()">Truth</button>
    <button class="display"id="falso"(click)="showspan()">Fake</button>
    <button id="comentar">Comentar</button>
</div>
